<section class="card">
  <div class="card-body">
    <h1>Acerca de My Journaly</h1>
    <br>
    <p>
        My Journaly es una aplicación Node.js diseñada para ayudarte a llevar un registro de tus pensamientos, ideas y experiencias diarias de una manera simple y efectiva. Con My Journaly, puedes crear, editar y organizar tus entradas de diario de forma intuitiva. Ya sea que quieras llevar un seguimiento de tus metas personales, reflexionar sobre tus aventuras o simplemente tomar notas importantes, My Journaly te brinda la herramienta perfecta para mantener un diario digital. ¡Comienza a documentar tu vida con facilidad gracias a My Journaly!"

        Si deseas agregar más detalles o información específica sobre tu aplicación, no dudes en proporcionarme más detalles, y estaré encantado de ajustar el texto en consecuencia.
    </p>
  </div>
</section>
