<div class="card card-body p-5 mt-4">
  <h1 class="display-4">MY JOURNALY App  from Nodejs And Mongodb!</h1>
  <p class="lead">MY JOURNALY: Una sencilla aplicación para gestionar tu diario, desarrollada con tecnologías Node.js, Express, MongoDB y Javascript</p>
  <hr class="my-4" />
  <p>Registra tu vida, escribe tu historia  </p>
  <br>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signin"
      role="button"
    >Start</a>
  </div>
</div>